// SUPER PODERES de SASS -------------------------------------------

@import "variables.scss";


// OPERACIONES

// CONDICIONALES colores

// $variable: valor1; /* Mi constante */
// p {
//       @if $variable == valor1 {
//              color: blue;
//       } @else if $variable == valor2 {
//                  color: red;
//      } @else if $variable == valor3 {
//                 color: green;
//      } @else {
//                 color: black;
//       }
// }



// EXTEND servicios y libros

// MIXINS titulos
@mixin redes($hover) {
  font-size: 30px; 
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  &:hover{
    color: $hover;
  }

}


// BUCLES - btn
// @for $variable from 1 through 10 {
//     .clase--#{$variable} { width: 100px * $variable; }
//   }


// EACH - fondo cards
// @each $variable in valor1, valor2, valor3 {
//     .#{$variable}--clase { 
//           Background-image:  
//            url('/images/#{$variable}.png');
//      }

// MAP - fondo cards
$coloresFondo: (
        fondo1: #6d8c9a,
        fondo2:  lightblue,
        fondo3: pink
); 


// /*Creamos el bucle para usar los valores del mapa*/
// @each $valor, $valor2 in $mapa {
//    .clase--#{$valor} {
//        background-color: $valor2;
//    }
// }


// Map get

// ESTO ES EL MENU

.menu {
  background-color: map-get($coloresFondo, fondo1);
  min-height: 50px;

  .nav-link {
    color: #fff !important;
    padding: 15px !important;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px;

    &:hover {
      color: #90bccf !important;
    }
  }
}

/*BANNER*/

#banner {
  background-image: url(../imagenes/mujerlectora6.jpg);
  background-size: cover;
  padding-top: 70px;
  min-height: 400px;
  color: #fff;
  animation: aparecer 1s ease-in-out;

  .banner__texto {
    margin: 0 auto 80px auto;
    text-align: center;

    h1 {
      font-size: 300%;
      margin-top: 85px;
    }
  }
}

// INICIO

#inicio {
  padding-top: 60px;
  padding-bottom: 0px;
  animation: aparecer 1s ease-in-out;

  @keyframes aparecer {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  img {
    margin-top: 20px;
  }

  .contenido__texto {
    color: #8a413f;
    font-family: "Roboto", sans-serif;
    line-height: 2;
    font-size: 200%;
  }

  .parrafo {
    text-align: justify;
    color: grey;
    font-family: $font;
    line-height: 1.5;
  }
}

// NOSOTROS

#nosotros {
  margin-top: $margen/2;
  animation: aparecer 1s ease-in-out;

  img {
    margin-bottom: 20px;
    margin-right: 40px;
  }

  @keyframes aparecer {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

// SERVICIOS_CARDS

#servicios {
  margin-top: 40px;
  margin-top: 80px;

  .card-body {
    background-color: #6d8c9a;

    .texto {
      color: #fff;
      text-align: center;
      font-family: $font;
    }

    h4 {
      @extend .texto;
      font-weight: 500;
    }

    p {
      @extend .texto;
    }
  }
}

// LIBROS

#libros {
 @extend #servicios;

  h3 {
    font-family: "Roboto", sans-serif;
    color: #8a413f;
  }
}

#carouselExampleInterval {
  margin-left: 25px;
}

// FAQ

.faq {
  background-image: url(../imagenes/mujerlectora2.jpg);
  padding-top: 100px;

  li {
    padding: 20px;
    list-style-position: outside;
    text-align: justify;
    animation: aparecer 1s ease-in-out;
  }

  p {
    color: #444242;
    font-family: $font;
  }

  h3 {
    color: #8a413f;
    font-family: $font;
    margin-left: 60px;
    animation: aparecer 1s ease-in-out;
  }
}

// SUSCRIPCIÓN

#contacto {
  margin-top: 50px;
  animation: aparecer 1s ease-in-out;
  padding-bottom: 70px;
  padding-top: 80px;
  background-color: #90bccf;

  h3 {
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
}

.contactoForm select:focus,
input:focus,
input[type]:focus {
  border-color: #6d8c9a;
  box-shadow: 0 1px 1px #6d8c9a inset, 0 0 8px #6d8c9a;
  outline: 0 none;
}

.contactoForm button {
  background-color: #6d8c9a;
  border-color: #6d8c9a;
  color: #fff;
  margin-left: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.contactoForm button:focus,
button:active,
button:hover {
  background-color: #90bccf;
  border-color: #90bccf;
  box-shadow: 0 1px 1px #6d8c9a inset, 0 0 8px #6d8c9a;
  color: #fff !important;
}

// FOOTER

footer {
  width: 100%;
  background: #6d8c9a;
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.anchoFooter {
  margin-top: 10px;

  p {
    font-family: "Raleway", sans-serif;
    color: #fff;
    padding-left: 30px;
    font-size: 75%;
    line-height: 2;
  }
    .bi-facebook {
       @include redes ($fb);
    }
 
    .bi-instagram {
      @include redes ($insta);
   }
   
  
    
    .bi-whatsapp {
      @include redes ($wp);
    }
   
    
}

.navbar-toggler-icon {
  background-color: none;
}

.navbar-toggler {
  border: none;
  margin-right: 30px;
}

// /MEDIA QUERIES

@media (max-width: 375px) {
  .banner__texto {
    padding-bottom: 100px;
  }

  .navbar-toggler {
    margin-right: 0px;
  }

  .navbar-brand {
    margin-right: 0px;
  }

  #inicio {
    padding: 30px 20px 0px 20px;
  }

  #libros {
    padding: 30px 20px 0px 20px;
  }

  #carousel-libros {
    padding: 0px 20px 0px 20px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px) {
  .navbar-toggler {
    margin-right: 10px;
  }
}
